/* Header styles */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #795c34;
  color: white;
  width: 100%;
}

.nav-top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.nav-top a {
  color: white;
  font-size: 1.5em;
}

.nav-top img {
  width: 32px;
  height: 32px;
}

.nav-menus-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.nav-menu a{
  color: inherit;
  text-decoration: none;
}

.nav-menu.active {
  background-color: forestgreen;
}
