/* Blog page styles */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main img{
  width: 100%;
  margin: auto;
}

main > .blog-text-wrapper {
  padding: 10px 30px;
}

main > .blog-text-wrapper > .author-and-datewritten {
  display: flex;
  justify-content: space-between;
}

main > .blog-text-wrapper > .author-and-datewritten > .author{
  color: forestgreen;
}

main > .blog-text-wrapper > .author-and-datewritten > .date-written {
  color: gray;
}
