/* Blog page styles */
main {
  display: grid;
  grid-template-columns: 1fr;
}

main img{
  width: 100%;
  margin: auto;
}

main > .blog-text-wrapper {
  padding: 10px 20px;
}

main > .blog-text-wrapper > .author-and-datewritten {
  display: flex;
  justify-content: space-between;
}

main > .blog-text-wrapper > .author-and-datewritten > .author{
  color: forestgreen;
}

main > .blog-text-wrapper > .author-and-datewritten > .date-written {
  color: gray;
}

/* Styles for screens larger than 768px */
@media only screen and (min-width: 786px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main > .blog-text-wrapper {
    padding: 10px 30px;
  }

}
